apiVersion: v1
kind: Service
metadata:
  name: headscale
  namespace: headscale
  labels:
    app: headscale
spec:
  type: LoadBalancer
  selector:
    app: headscale
  ports:
    - name: http
      port: 8080
      targetPort: http
      nodePort: 30080
      protocol: TCP
    - name: grpc
      port: 50443
      targetPort: grpc
      nodePort: 30443
      protocol: TCP
